.intro {
    display: flex;
    align-items: center;
    min-height: 23rem;
    // background: var(--color-theme-highlight-block);
    background: linear-gradient(90deg, rgba(0, 147, 233, .55) 0, rgba(128, 208, 199, .45) 100%), url(/images/sunorwind-C1MJ8IYUSmU-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 35rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    @media screen and (max-width: 425px) {
        background-position-y: center;
    }
    &__summary {
        --flow-space: #{get-size(500)};
        font-size: get-size(500);
        a {
            color: currentColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__heading {
        max-width: 40ex;
        font-weight: unset;
        color: var(--color-theme-feature-text);
        &--compact {
            max-width: 20ex;
        }
    }
}